# =========================
# Spring Boot / Maven
# =========================

# Maven target folders
target/
!**/target/
# Maven Wrapper - include all necessary files
!.mvn/wrapper/
!.mvn/wrapper/maven-wrapper.jar
!.mvn/wrapper/maven-wrapper.properties
mvnw
mvnw.cmd

# Gradle build folders (if any)
build/
!**/build/
!**/src/main/**/build/
!**/src/test/**/build/

# =========================
# IDE Files
# =========================

# STS
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

# IntelliJ IDEA
.idea
*.iws
*.iml
*.ipr

# NetBeans
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

# VS Code
.vscode/

# =========================
# Other
# =========================
HELP.md
